<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">

    <title>@ViewData["Title"] - Giftos</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <link href="~/css/style.css" rel="stylesheet" />

    <link href="~/css/responsive.css" rel="stylesheet" />


</head>

<body>
    <header class="header_section">
        <nav class="navbar navbar-expand-lg custom_nav-container" style="margin-left: 50px; margin-right: 50px;">
            <a class="navbar-brand" href="#">
                <span>
                    Giftos
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="About">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Shop" asp-action="Index">Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Contact">İletişim</a>
                    </li>
                </ul>
                <div class="user_option dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Giriş</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
                    </div>
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                    <form class="form-inline">
                        <button class="btn nav_search-btn" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> Tüm Hakları Saklıdır |
                <a href="https://html.design/">Sitenizin Adı</a>
            </p>
        </div>
    </footer>

    <script>
        document.getElementById("displayYear").innerHTML = new Date().getFullYear();
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
